@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900 text-white;
}

.columns {
    @apply col-span-6 bg-zinc-900 text-white p-5;
}

.columns-secondary {
    @apply col-span-3 bg-zinc-900 text-white p-3;
}

.font-mono{
    font-family: 'DM Mono', monospace;
}

.font-pixel {
    font-family: 'Press Start 2P', cursive;
}

.recommended-text {
    color: #FFD700;
    /* Dorado */
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000;
    /* Sombra negra alrededor del texto */
}